html { 
    height: 100%; 
    width: 100%;
    overflow: scroll;

}
body { 
    font-family: "Lato";
    background-color: #253237;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
    background-color: #253237;
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.topbar {
    grid-column: 7/17;
    grid-row: 1/2;
    display: flex;
    gap: 2vmin;
    margin-left: auto;
    animation: 1s ease-in 0s slideInRight;
}
.button {
    background-color: #253237;
    color: #E0FBFC;
    font-family: "Alumni Sans Pinstripe";
    font-size: 4vmin;
    border-width: 1px;
    border-style: solid;
    border-color: #395F35;
    padding: 1vmin 1vmin 1vmin 1vmin;

}
@keyframes button-hover {
    0% {background-color: #253237};
    100% {background-color: #9ABFA5};

}
.button:hover {
    background-color: #9ABFA5;
    color: #395F35;
    animation-name: button-hover;
    animation-duration: 1s;
}

.content {
    display: grid;
    grid-row: 2/17;
    grid-column: 2/17;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}
.title {
    grid-row: 3/5;
    grid-column: 2/15;
    color: #E0FBFC;
    font-size: 5vmin;
    font-family: "Roboto";
}
.projects {
    display: grid;
    grid-row: 5/11;
    grid-column: 1/21; 
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(20, 5%);
}
.projects .item1 {
    background-size: 50%;
    grid-column: 1/10;
    grid-row: 2/9;
    color: #E0FBFC;
}

.smallbox {
    cursor: pointer;
}
.item1 a {
    color: #E0FBFC;
    padding-left: 3vmin;
    padding-top: 3vmin;
    font-size:3vmin;
}
.item2 a {
    color: #E0FBFC;
    padding-left: 3vmin;
    padding-top: 3vmin;
    font-size:3vmin;
    color: #E0FBFC;
}
.projects .item2 {
    background-size: 50%;
    grid-column: 11/20;
    grid-row: 2/9;
    color: #E0FBFC;
}
.working-title {
    grid-row: 12/13;
    grid-column: 2/15;
    color: #E0FBFC;
    font-size: 5vmin;
    font-family: "Roboto";
}
.working-item {
    grid-row: 14/19;
    grid-column: 5/17;
    background-size: 50%;
    color: #E0FBFC;
}
.working-item a {
    color: #E0FBFC;
    font-size: 4vmin;
    padding-top: 3vmin;
    padding-left: 3vmin;
}
.description {
    font-family: "Alumni Sans Pinstripe";
    font-size: 3vmin;
    padding-left: 3vmin;
    padding-top: 3vmin;
}


@keyframes content-hover {
    0% {background-color: #253237};
    100% {background-color: #9ABFA5};

}
.item1:hover .smallbox{
    animation-name: content-hover;
    color: #395F35;
    
}

.item1:hover {
    animation-duration: 2s;
    animation-name: content-hover;
    background-color: #9ABFA5;
    color: #395F35; 
}
.item2:hover .smallbox{
    animation-name: content-hover;
    color: #395F35;
    
}

.item2:hover {
    animation-duration: 2s;
    animation-name: content-hover;
    background-color: #9ABFA5;
    color: #395F35; 
}
.working-item:hover .smallbox{
    animation-name: content-hover;
    color: #395F35;
    
}

.working-item:hover {
    animation-duration: 2s;
    animation-name: content-hover;
    background-color: #9ABFA5;
    color: #395F35; 
}
